<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<h1>Product List</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    {{#products}}
        <tr>
            <td>{{id}}</td>
            <td>{{productName}}</td>
            <td>{{price}}</td>
            <td>
                <a href="/products/{{id}}"><button type="button">View</button></a>

                <a href="/products/edit/{{id}}"><button type="button">Edit</button></a>

                <form action="/products/delete/{{id}}" method="post" style="display:inline;">
                    <button type="submit" onclick="return confirm('정말로 삭제하시겠습니까?');">Delete</button>
                </form>
            </td>
        </tr>
    {{/products}}

</table>
<br>
<a href="/products/new"><button type="button">Create New Product</button></a>
</body>
</html>